@model IEnumerable<AddisUniversity.Models.Course>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

@using (Html.BeginForm())
{
    <p style="margin-left:500px; color: maroon; font-size: 25px; margin-top: 50px; margin-bottom: 50px;"  >
        Select Department: @Html.DropDownList("SelectedDepartment", "All")
        <input type="submit" value="Filter" />
    </p>
}

<table class="table" style="background-color: antiquewhite; margin:50px; margin-top: 0px; height: 400px;  ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="font-family: Dosis;">
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td style="font-family: Dosis">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            </td>
        </tr>
    }

</table>
<p style="margin-left:600px;">
    @Html.ActionLink("Create New Course", "Create")
</p>